.parent-table-div{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.parent-button-div{
    display: flex;
    justify-content: center;
}

.table-class{
    width: 50vw;
    text-align: center;
    background-color: lightyellow;
}

.child-button-div-input{
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}

.high-priority {
    background-color: red;
    color: white;
}

.low-priority {
    background-color: yellow;
    color: black;
}